{% raw %}

<script id="actions-row-template" type="text/x-handlebars-template">
    <div class="action-row">
        {{ text }}
        <div class="action-row-menu-handle">
            <div class="action-row-menu">
                <div>Mark as Done</div>
                <div>Mark as Irrelevant</div>
            </div>
        </div>
    </div>
</script>

<script id="actions-container-template" type="text/x-handlebars-template">
    <div class="actions-container">
        <div class="actions-close">X</div>
        <div class="actions-filters">
            <div id="action-filter-all">Todo</div>
            <div id="action-filter-all">Done</div>
            <div id="action-filter-all">All</div>
            <div id="action-filter-all">Irrelevant</div>
        </div>
        <div class="actions-list">

        </div>
    </div>
</script>
{% endraw %}
